## Importing the data

In [2]:
import pandas as pd
insp = pd.read_csv("inspections.csv")
network = pd.read_csv("network.csv")
samplesub = pd.read_csv("sample_submission.csv")

## Merging the datasets

In [3]:
data = insp.merge(network, how='inner', on='PipeId')
data

,PipeId,MaintenanceId,InspectionYear,InspectionDate,MonthsLastRev,Severity,Incidence,Province,Town,YearBuilt,Material,GasType,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,BoolBridle
0,189311802,ZRV-00001972,2010,2010-10-01,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
1,189311802,ZRV-00001972,2012,2012-10-01,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
2,189311802,ZRV-00001972,2014,2014-10-08,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
3,189311802,ZRV-00001972,2016,2016-10-14,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
4,189311802,ZRV-00001972,2018,2018-10-09,24,4,0,Barcelona,Sentmenat,2001,PE,Gas natural,160.0,117.831,4.000,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345339,56922448,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,1993,PE,Gas natural,63.0,1.237,4.000,0,0,False
6345340,56907425,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,2000,PE,Gas natural,160.0,169.732,4.000,1,0,False
6345341,7843615,ZRV-00002112,2021,2020-12-31,24,4,0,Barcelona,Sabadell,1995,FD,Gas natural,150.0,0.361,0.025,0,0,True
6345342,56922456,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,1993,PE,Gas natural,63.0,23.306,4.000,0,0,False
6345343,56922465,ZRV-00004581,2020,2020-12-31,24,4,0,Valencia,Betera,1993,PE,Gas natural,63.0,1.778,4.000,0,0,False

In [4]:
finalsub = samplesub.merge(network, how='inner', on='PipeId')
finalsub

keep_columns_sub = ['YearBuilt', 'Diameter', 'Length', 'Pressure', 'NumConnections', 'NumConnectionsUnder']
finalsub_simple = finalsub[keep_columns_sub]
finalsub_simple

,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder
0,2012,110.0,44.286,0.150,0,0
1,2012,160.0,110.715,0.150,2,0
2,2012,110.0,13.575,0.150,0,0
3,2012,110.0,327.689,0.150,3,0
4,2007,200.0,932.762,0.150,0,0
...,...,...,...,...,...,...
909728,2004,110.0,7.656,0.025,0,0
909729,2004,110.0,4.383,0.025,2,0
909730,2004,110.0,2.292,0.025,1,0
909731,2004,90.0,87.809,4.000,0,0
909732,2004,160.0,2.325,4.000,0,0

## EDA

Counting the number of 0 and 1 and the rate

## Modeling

In [5]:
keep_columns = ['YearBuilt', 'Diameter', 'Length', 'Pressure', 'NumConnections', 'NumConnectionsUnder','Incidence']
data_simple_for_logistic = data[keep_columns]
data_simple_for_logistic

,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Incidence
0,2001,160.0,117.831,4.000,0,0,0
1,2001,160.0,117.831,4.000,0,0,0
2,2001,160.0,117.831,4.000,0,0,0
3,2001,160.0,117.831,4.000,0,0,0
4,2001,160.0,117.831,4.000,0,0,0
...,...,...,...,...,...,...,...
6345339,1993,63.0,1.237,4.000,0,0,0
6345340,2000,160.0,169.732,4.000,1,0,0
6345341,1995,150.0,0.361,0.025,0,0,0
6345342,1993,63.0,23.306,4.000,0,0,0
6345343,1993,63.0,1.778,4.000,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_simple_for_logistic.loc[:, data_simple_for_logistic.columns != "Incidence"], data_simple_for_logistic["Incidence"], test_size=0.25, random_state=42)

# Making the small balanced

In [7]:
df = data_simple_for_logistic
df = df.sample(frac=1)
fraud_df = df.loc[df['Incidence'] == 1]
non_fraud_df = df.loc[df['Incidence'] == 0][:12328]
normal_distributed_df = pd.concat([fraud_df, non_fraud_df])
new_df = normal_distributed_df.sample(frac=1, random_state=42)
new_df

,YearBuilt,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,Incidence
4431860,1988,63.0,6.887,4.000,0,0,0
2925544,1999,110.0,5.362,0.025,0,0,0
6165889,2009,40.0,21.029,1.700,0,0,1
5839764,2014,160.0,10.737,4.000,0,0,0
4486607,1997,32.0,0.650,4.000,1,0,0
...,...,...,...,...,...,...,...
6206623,2016,63.0,31.481,1.700,0,0,0
5386708,2011,160.0,3.954,0.025,1,0,1
6310303,1976,150.0,33.838,0.025,1,0,1
6117996,2016,40.0,8.710,1.700,2,0,0
4728130,2009,160.0,10.923,0.150,0,0,0

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import roc_auc_score

X_train, X_test, y_train, y_test = train_test_split(new_df.loc[:, new_df.columns != "Incidence"], new_df["Incidence"], test_size=0.25, random_state=42)

# Convert the training and test sets into DMatrix objects for XGBoost
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Define the grid of hyperparameters to search
params = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.1, 0.2, 0.3],
    'n_estimators': [100, 200, 300]
}

# Perform grid search with cross-validation
xgb_clf = xgb.XGBClassifier()
grid_search = GridSearchCV(xgb_clf, params, cv=5, scoring='roc_auc')
grid_search.fit(X_train, y_train)

# Print the best parameters and the best AUC score
print("Best parameters: ", grid_search.best_params_)
print("Best AUC score: ", grid_search.best_score_)

# Evaluate the model on the test set
y_pred = grid_search.predict_proba(X_test)[:, 1]
auc = roc_auc_score(y_test, y_pred)
print("Test set AUC: ", auc)

results_1 = grid_search.predict(finalsub_simple)

Best parameters:  {'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}
Best AUC score:  0.895308326505611
Test set AUC:  0.8929516427561549

In [9]:
samplesub

           PipeId  Incidence
0       446859944          0
1       428124500          0
2       438428871          0
3       429034569          0
4       411184477          0
...           ...        ...
909728  235426649          0
909729  235426673          0
909730  235426707          0
909731  190956601          0
909732  228228379          0

[909733 rows x 2 columns]

In [10]:
results1df = pd.DataFrame(results_1)

In [11]:
results1df = pd.DataFrame(results_1)

samplesub_sub = samplesub.drop(columns = "Incidence")

finalfinal = samplesub_sub.merge(results1df, left_index = True,right_index=True)
finalfinal.rename(columns={0: "Incidence"}, inplace=True)
finalfinal

           PipeId  Incidence
0       446859944          0
1       428124500          0
2       438428871          0
3       429034569          0
4       411184477          0
...           ...        ...
909728  235426649          0
909729  235426673          0
909730  235426707          0
909731  190956601          0
909732  228228379          0

[909733 rows x 2 columns]

In [12]:
import numpy as np
finalfinal.to_csv("XGBoostCV.csv", index=False)

In [15]:
fin_mer = finalfinal.merge(network, how = 'inner', on= "PipeId")
fin_mer.to_csv("fulmerged.csv", index=False)